*,
p,
ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  min-height: 100%;
  font: 1.2rem/1.6 "微软雅黑";
  color: #000;
  position: relative;
  background: #e5e5e5;
}
:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #f00000;
}
table {
  border-spacing: 0;
}
label {
  font-weight: normal;
  margin: 0;
}
header,
nav,
section,
footer {
  display: block;
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
input[type='submit'] {
  -webkit-appearance: none;
}
/****************************************************************************************************/
body.index-bj {
  background: url("../images/login-bj.jpg") no-repeat center top;
  background-size: cover;
  text-align: center;
}
div.index {
  padding-top: 20%;
}
div.index a.logo {
  display: block;
  width: 22%;
  margin: auto;
}
div.index a.logo img {
  display: block;
  width: 100%;
}
div.index div.d1 {
  margin-top: 20%;
  color: #fff;
  letter-spacing: 2px;
}
div.index div.d1 p.p1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
div.index div.d2 {
  padding: 0 15%;
  margin-top: 25%;
}
div.index div.d2 a {
  width: 38%;
  height: 35px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 35px;
  border-radius: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}
div.index div.d2 a.on {
  background: #ffffff;
}
div.login-bj {
  background: rgba(249, 249, 249, 0.5);
  border-radius: 15px;
  padding: 5px 0;
}
div.login {
  position: absolute;
  width: 82%;
  top: 50%;
  left: 50%;
  margin-left: -41%;
  margin-top: -112px;
  color: #fff;
}
div.login div.d-a {
  margin-bottom: 25px;
}
div.login div.d-a div.d1 {
  padding: 10px;
  padding-left: 0;
  border-bottom: 1px solid rgba(249, 249, 249, 0.5);
}
div.login div.d-a div.d1:last-child {
  border-bottom: none;
}
div.login div.d-a div.d1 span {
  width: 19%;
  height: 40px;
  border-right: 1px solid rgba(249, 249, 249, 0.5);
  text-align: center;
  line-height: 40px;
  font-size: 2rem;
}
div.login div.d-a div.d1 span.icon-pass {
  font-size: 2.4rem;
}
div.login div.d-a div.d1 input {
  background: transparent;
  border: none;
  height: 40px;
  line-height: 40px;
  width: 77%;
  padding-left: 10px;
  font-size: 1.3rem;
}
div.login .submit {
  display: block;
  width: 100%;
  border: none;
  background: rgba(249, 249, 249, 0.5);
  border-radius: 5px;
  font-size: 1.6rem;
  letter-spacing: 3px;
  padding: 6px 0;
}
div.login div.d-b {
  margin-top: 10px;
}
div.login div.d-b a {
  color: #fff;
  font-size: 1.2rem;
  opacity: 0.6;
}
div.login div.d-c {
  margin-top: 20px;
  border-top: 1px solid #fff;
  background: url("../images/register-01.png") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 6px;
}
div.login div.d-c p span {
  color: #f29f3f;
}
div.login.register {
  margin-top: -135px;
}
div.login ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
div.login :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
div.login ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
div.login :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
div.register-a {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -112px;
  color: #fff;
}
div.register-a div.login-bj {
  padding: 10px 0;
}
div.register-a div.login-bj div.d-a {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 356px) {
  div.register-a div.login-bj div.d-a {
    font-size: 1.3rem;
  }
}
div.register-a div.login-bj div.d-a p {
  margin-bottom: 5px;
}
div.register-a div.login-bj div.d-b {
  width: 98%;
  margin: auto;
  padding: 5px 12px;
  border-bottom: 1px solid rgba(249, 249, 249, 0.5);
}
div.register-a div.login-bj div.d-b input {
  width: 50%;
  margin-left: 10px;
  background: transparent;
  text-align: center;
  border: none;
}
@media screen and (max-width: 356px) {
  div.register-a div.login-bj div.d-b input {
    width: 42%;
  }
}
div.register-a div.login-bj div.d-b a {
  width: 80px;
  height: 19px;
  border-left: 1px solid rgba(249, 249, 249, 0.5);
  text-align: right;
  color: #666;
}
div.register-a div.login-bj .submit {
  border: none;
  display: block;
  width: 85%;
  border-radius: 5px;
  margin: 20px auto 15px;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding: 6px 0;
  background: #f29f3f;
  color: #fff;
}
div.register-a div.reg-a {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(249, 249, 249, 0.5);
  padding: 15px 0;
}
div.register-a div.reg-a img {
  width: 30px;
}
div.register-a .reg-b {
  margin-top: 10px;
  margin-bottom: 35px;
}
div.register-a ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #eee;
}
div.register-a :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eee;
}
div.register-a ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eee;
}
div.register-a :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}
.passBtn {
  padding: 10px;
  margin-top: 10px;
}
.passBtn input {
  display: block;
  width: 100%;
  border: none;
  background: #7d7d7d;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 1.5rem;
}
.passBtn .btn-on {
  background: #f00000;
}
div.password {
  padding-top: 12px;
}
div.password .pass {
  background: #fff;
}
div.password .pass .pass-a {
  padding: 6px 10px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 30px;
  font-size: 1.4rem;
}
div.password .pass .pass-a:last-child {
  border-bottom: none;
}
div.password .pass .pass-a .in1 {
  width: 60%;
  background: transparent;
  border: none;
  text-align: center;
  height: 30px;
}
@media screen and (max-width: 350px) {
  div.password .pass .pass-a .in1 {
    width: 55%;
  }
}
div.password .pass .pass-a .yzm {
  border: none;
  border-radius: 3px;
  background: #00a0e9;
  color: #fff;
  padding: 0 12px;
  font-size: 1.2rem;
}
div.password .pass-shuru {
  width: 100%;
  border: none;
}
div.password .p-text {
  padding: 5px 10px;
  color: #7d7d7d;
  font-size: 1rem;
}
div.user .pass-a {
  position: relative;
}
div.user .pass-a .close-span {
  position: absolute;
  right: 5px;
  top: 2px;
  padding: 10px;
  font-size: 1.8rem;
  display: none;
}
div.address {
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
}
div.address .address-list {
  background: #fff;
  padding: 10px;
  padding-right: 70px;
  position: relative;
  margin-bottom: 8px;
}
div.address .address-list p {
  height: 38px;
}
div.address .address-list span {
  color: #7d7d7d;
}
div.address .address-list .bianji {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 2rem;
  padding: 5px;
  color: #7d7d7d;
}
div.address .add-list {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #f00000;
  line-height: 30px;
  border-radius: 5px;
  font-size: 1.4rem;
}
div.address .add-list span {
  font-size: 1.6rem;
  position: relative;
  top: 2px;
  left: -5px;
}
div.address-a {
  padding-top: 12px;
}
div.address-a div.address-s {
  background: #fff;
}
div.address-a div.address-s div.d1 {
  padding: 10px;
  padding-right: 0;
  border-bottom: 1px solid #e5e5e5;
}
div.address-a div.address-s div.d1:last-child {
  border-bottom: none;
}
div.address-a div.address-s div.d1 div.nr {
  width: 85%;
}
div.address-a div.address-s div.d1 div.nr input {
  border: none;
  width: 100%;
  padding-left: 20px;
}
div.address-a div.address-s div.d1 div.nr.d2 div {
  border-top: 1px solid #e5e5e5;
  margin-top: 8px;
  padding-top: 10px;
  padding-left: 20px;
}
div.address-a div.address-s div.d1 div.nr.d2 div a {
  display: inline-block;
  background: #dbdbdb;
  border: 1px solid #626262;
  padding: 0 12px;
  margin-right: 12px;
  border-radius: 3px;
  color: #858585;
}
div.address-a div.address-s div.d1 div.nr.d2 div a.on {
  background: #d2e7f1;
  border-color: #00a0e9;
  color: #00a0e9;
}
div.address-a div.address-s div.d1 input.nr {
  width: 85%;
  border: none;
  padding-left: 20px;
}
div.address-a .submit {
  display: block;
  width: 95%;
  border: none;
  font-size: 1.4rem;
  color: #fff;
  background: #f00000;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  padding: 5px 0;
}
div.appraise .appraise-s {
  background: #fff;
  padding: 12px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
div.appraise .appraise-s textarea {
  display: block;
  width: 100%;
  border: none;
  height: 100px;
  resize: none;
  margin-bottom: 20px;
}
div.appraise .appraise-s ul li {
  width: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}
div.appraise .appraise-s ul li img {
  width: 50px;
  height: 50px;
}
div.appraise .submit {
  display: block;
  width: 90%;
  margin: 10px auto;
  background: #7d7d7d;
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
}
div.appraise .submit.on {
  background: #f00000;
}
div.account {
  font-size: 1.5rem;
}
div.account .bai {
  background: #fff;
}
div.account .icon-jiantou {
  font-size: 1.8rem;
  margin-left: 15px;
}
div.account .icon-jiantou:before {
  color: #cfcfcf;
}
div.account .account-top {
  padding: 0 12px;
}
div.account .account-top .d1 {
  border-bottom: 1px solid #f7f7f7;
  padding: 10px 0 10px 12px;
}
div.account .account-top .d1:last-child {
  border-bottom: none;
  padding: 0 0 0 10px;
}
div.account .account-top .d1 span {
  line-height: 40px;
}
div.account .account-top .d1 span.nrs {
  color: #cfcfcf;
}
div.account .account-top .d1 span.nrs.on {
  color: #00baff;
}
div.account .account-top .d1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
div.account p.title {
  padding: 10px 16px;
  color: #7c7c7c;
}
div.account ul.account-s {
  padding: 0 12px;
}
div.account ul.account-s li {
  border-bottom: 1px solid #f7f7f7;
  padding-left: 3px;
}
div.account ul.account-s li:last-child {
  border-bottom: none;
}
div.account ul.account-s li a {
  display: block;
  height: 55px;
}
div.account ul.account-s li a span {
  line-height: 55px;
}
div.account ul.account-s li a span.nrs {
  color: #cfcfcf;
}
div.account ul.account-s li a span.nrs.on {
  color: #00baff;
}
div.account ul.account-s li a span.nrs-a {
  margin-right: 33px;
}
div.account ul.account-s li a span.iconT {
  margin-right: 6px;
  width: 23px;
  text-align: center;
}
div.pay {
  padding-bottom: 52px;
}
div.pay > img {
  display: block;
  max-width: 100%;
}
div.pay div.pay-top {
  background: #fffaf3;
  padding: 12px 15px;
  height: 100px;
}
div.pay div.pay-top a {
  display: block;
  height: 100%;
}
div.pay div.pay-top a > span {
  font-size: 1.6rem;
  margin-top: 28px;
}
div.pay div.pay-top a div.d1 {
  margin-top: 22px;
  font-size: 1.6rem;
}
div.pay div.pay-top a div.d1 span {
  font-size: 1.8rem;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
div.pay div.pay-top a div.d1 span:before {
  color: #333;
}
div.pay div.pay-top a div.d2 {
  width: 88%;
  font-size: 1.4rem;
  padding-top: 7px;
}
div.pay div.pay-top a div.d2 span {
  margin-right: 5px;
}
div.pay div.pay-top a div.d2 div.d2-a {
  margin-bottom: 13px;
}
div.pay div.pay-top a div.d2 div.d2-a div {
  padding: 0;
}
div.pay div.pay-top a div.d2 div.d2-b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.pay div.pay-fot {
  background: #fff;
  padding: 12px;
  padding-top: 30px;
}
div.pay div.pay-fot div.d-a p.title {
  font-size: 1.4rem;
  border-bottom: 1px solid #d7d7d7;
  padding: 2px 6px;
}
div.pay div.pay-fot div.d-a p.title span {
  font-size: 1.6rem;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
div.pay div.pay-fot div.d-a div.d-s {
  padding: 12px 0;
  border-bottom: 1px solid #d7d7d7;
}
div.pay div.pay-fot div.d-a div.d-s a {
  display: block;
}
div.pay div.pay-fot div.d-a div.d-s a > img {
  width: 70px;
  height: 70px;
}
div.pay div.pay-fot div.d-a div.d-s a div.d-s-a {
  width: 56%;
  margin-left: 10px;
}
div.pay div.pay-fot div.d-a div.d-s a div.d-s-a p.tit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}
div.pay div.pay-fot div.d-a div.d-s a div.d-s-a p.p-a {
  color: #959494;
  line-height: 140%;
  padding-left: 6px;
}
div.pay div.pay-fot div.d-a div.d-s a div.d-s-b p {
  margin-bottom: 20px;
}
div.pay div.pay-fot div.d-a div.d-s a div.d-s-b span {
  padding-left: 5px;
}
div.pay div.pay-fot div.d-b {
  margin: 30px 0 15px;
  font-size: 1.4rem;
}
div.pay div.pay-fot div.d-b p span {
  color: #f00000;
}
div.payFooter {
  padding: 8px 12px 6px 12px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  text-align: right;
}
div.payFooter a {
  padding: 6px 15px;
  background: #7d7d7d;
  color: #fff;
  border-radius: 5px;
  font-size: 1.4rem;
  margin-left: 15px;
  margin-top: 1px;
}
div.payFooter a.on {
  background: #f00000;
}
div.payFooter > div p {
  font-size: 1.6rem;
  line-height: 100%;
  color: #f00000;
}
div.payFooter > div label {
  font-size: 1rem;
  color: #ccc;
}
div.payFooter > div label input {
  position: relative;
  top: 2px;
}
body.user {
  background: #fff;
}
div.userInfo header {
  background: url("../images/userInfo-bj.jpg") no-repeat center top #fff;
  background-size: 100%;
  height: 210px;
  padding-top: 4%;
  position: relative;
}
div.userInfo header .shez {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 2rem;
  padding: 5px;
}
div.userInfo header .head-top {
  padding: 5% 4%;
}
div.userInfo header .head-top a {
  display: block;
  color: #fff;
}
div.userInfo header .head-top a > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #fff;
}
div.userInfo header .head-top a > div {
  margin-left: 10px;
  width: 63%;
}
@media screen and (max-width: 350px) {
  div.userInfo header .head-top a > div {
    width: 67%;
  }
}
div.userInfo header .head-top a > div div span.title {
  font-size: 1.7rem;
  max-width: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  line-height: 150%;
}
div.userInfo header .head-top a > div div .jp {
  background: #fff;
  border-radius: 15px;
  padding: 1px;
  color: #333;
  line-height: 120%;
  padding-right: 5px;
  margin-top: 6px;
}
div.userInfo header .head-top a > div div .jp span {
  margin-right: 3px;
}
div.userInfo header .head-top a > div > p {
  margin-top: 10px;
}
div.userInfo header .head-top a span.ico {
  font-size: 2.2rem;
  margin-top: 3.5%;
}
div.userInfo header div.head-fot {
  text-align: center;
  padding: 30px 10px 0 10px;
  position: relative;
}
div.userInfo header div.head-fot div a {
  display: block;
  font-weight: bold;
}
div.userInfo header div.head-fot div a p {
  font-size: 1.4rem;
}
div.userInfo header div.head-fot div a span {
  color: #f00000;
}
div.userInfo header div.head-fot img {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 32px;
}
div.userInfo header div.head-fot img.i1 {
  left: 34%;
}
div.userInfo header div.head-fot img.i2 {
  right: 34%;
}
div.userInfo .userInfo-a {
  padding: 5px 10px;
  background: #e5e5e5;
}
div.userInfo .userInfo-a .a1 {
  font-size: 1.4rem;
}
div.userInfo .userInfo-a .a1 span {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
div.userInfo .userInfo-b {
  background: #fff;
}
div.userInfo .userInfo-b ul li {
  width: 20%;
  text-align: center;
}
div.userInfo .userInfo-b ul li a {
  display: block;
  font-size: 1.4rem;
  padding: 15px 0;
}
div.userInfo .userInfo-b ul li a span {
  font-size: 2.6rem;
  font-weight: bold;
}
div.userInfo a.gg {
  display: block;
}
div.userInfo a.gg img {
  display: block;
  width: 100%;
}
div.userInfo .userInfo-c div.d-a p.title {
  padding: 10px 15px;
  font-size: 1.4rem;
  border-bottom: 1px solid #e5e5e5;
}
div.userInfo .userInfo-c div.d-a div.d-a-s {
  padding: 10px 0;
  text-align: center;
}
div.userInfo .userInfo-c div.d-a div.d-a-s ul li {
  padding: 0;
  height: 72px;
}
div.userInfo .userInfo-c div.d-a div.d-a-s ul li a {
  display: block;
  font-size: 1.4rem;
  padding: 10px 0;
}
div.userInfo .userInfo-c div.d-a div.d-a-s ul li a span.icon {
  font-size: 2.6rem;
}
body.details {
  padding-bottom: 45px;
}
body.details header .swiper-container .swiper-wrapper .swiper-slide a {
  display: block;
}
body.details header .swiper-container .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
}
body.details header .swiper-container .swiper-pagination-bullet {
  background: #626262;
  opacity: 1;
  width: 10px;
  height: 10px;
}
body.details header .swiper-container .swiper-pagination-bullet-active {
  background: #f00000;
}
body.details header .head-title {
  padding: 10px;
}
body.details header .head-title a.title {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  height: 50px;
  margin-bottom: 5px;
  overflow: hidden;
}
body.details header .head-title div.d-a span.jg {
  font-weight: bold;
  color: #f00000;
}
body.details header .head-title div.d-a span.h {
  font-size: 1.1rem;
  color: #626262;
}
body.details div.guige {
  padding: 8px 0;
  background: #e5e5e5;
}
body.details div.guige a {
  display: block;
  background: #fff;
  padding: 13px 10px;
  color: #aeaeae;
}
body.details div.guige a span {
  margin-top: 4px;
}
body.details div.guige a span:before {
  color: #aeaeae;
}
body.details section ul.details-title {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
body.details section ul.details-title li {
  display: inline-block;
  padding: 0 15px;
}
body.details section ul.details-title li a {
  display: block;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  position: relative;
  top: 1px;
}
body.details section ul.details-title li a.on {
  border-bottom-color: #f00000;
}
body.details section .details-sec .det-s {
  padding: 12px 10px;
  border-bottom: 1px solid #e5e5e5;
}
body.details section .details-sec .det-s:last-child {
  border-bottom: none;
}
body.details section .details-sec .det-s a {
  display: block;
}
body.details section .details-sec .det-s a p.title {
  margin-bottom: 5px;
}
body.details section .details-sec .det-s a div.row ul.row {
  padding-top: 20px;
  width: 55%;
}
body.details section .details-sec .det-s a div.row ul.row li {
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  padding: 1px;
  margin-right: 5px;
}
body.details section .details-sec .det-s a div.row ul.row li img {
  display: block;
  width: 48px;
  height: 48px;
}
body.details section .details-sec .det-s a div.row div.fr {
  width: 42%;
}
body.details footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #fff;
}
body.details footer ul {
  padding: 0;
}
body.details footer ul li {
  padding: 0;
}
body.details footer ul li a {
  display: block;
  text-align: center;
  height: 45px;
}
body.details footer ul.fot-le li a {
  position: relative;
  padding-top: 6px;
  border-top: 1px solid #e5e5e5;
}
body.details footer ul.fot-le li a span.icon {
  font-size: 1.4rem;
  display: block;
  height: 16px;
}
body.details footer ul.fot-le li a span.icon.icon-shouc,
body.details footer ul.fot-le li a span.icon.icon-shouca {
  display: none;
}
body.details footer ul.fot-le li a span.icon.icon-shouc:before {
  color: #f00000;
}
body.details footer ul.fot-le li a span.icon.on {
  display: block;
}
body.details footer ul.fot-le li a span.s {
  position: absolute;
  right: 17px;
  top: 5px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  background: #f00000;
  color: #fff;
  border-radius: 50%;
  font-size: 1rem;
}
body.details footer ul.fot-le li:first-child a {
  border-right: 1px solid #e5e5e5;
}
body.details footer ul.fot-rt li a {
  line-height: 45px;
  background: #ff9d34;
  color: #fff;
  font-size: 1.6rem;
}
body.details footer ul.fot-rt li.hp a {
  background: #f00000;
}
body.details div.model {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 70%;
  background: #fff;
  padding-bottom: 35px;
  border-top: 1px solid #e5e5e5;
}
body.details div.model form {
  height: 100%;
}
body.details div.model div.model-top {
  position: relative;
  top: -35px;
  padding-left: 15px;
}
body.details div.model div.model-top a {
  display: inline-block;
}
body.details div.model div.model-top a img {
  width: 70px;
  height: 70px;
}
body.details div.model div.model-top span {
  position: relative;
  top: 30px;
  left: 30px;
  color: #f00000;
  font-size: 1.3rem;
}
body.details div.model div.model-sec {
  height: 82%;
  position: absolute;
  width: 100%;
  bottom: 35px;
  overflow-y: auto;
}
body.details div.model div.model-sec div.model-s {
  padding: 0 10px;
}
body.details div.model div.model-sec div.model-s .model-s-a {
  padding: 10px 2px;
  border-bottom: 1px solid #e5e5e5;
}
body.details div.model div.model-sec div.model-s .model-s-a:last-child {
  border-bottom: none;
}
body.details div.model div.model-sec div.model-s p.title {
  margin-bottom: 10px;
  font-size: 1.4rem;
}
body.details div.model div.model-sec div.model-s ul li {
  padding: 3px 10px;
  margin-right: 12px;
  background: #e2e2e2;
  border-radius: 5px;
  margin-bottom: 5px;
}
body.details div.model div.model-sec div.model-s ul li.on {
  color: #fff;
  background: #f00000;
}
body.details div.model div.model-sec div.model-s div.sl div.row > * {
  float: left;
}
body.details div.model div.model-sec div.model-s div.sl div.row span {
  width: 25px;
  height: 25px;
  border: 1px solid #e5e5e5;
  line-height: 23px;
  text-align: center;
  font-size: 2rem;
  color: #7d7d7d;
}
body.details div.model div.model-sec div.model-s div.sl div.row input {
  border: 1px solid #e5e5e5;
  height: 25px;
  border-left: none;
  border-right: none;
  width: 40px;
  text-align: center;
}
body.details div.model .submit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
  height: 35px;
  background: #f00000;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 10px;
}
body.details div.model .end {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 1.8rem;
  padding: 5px;
}
body.details div.model .end:before {
  color: #333;
}
div.pintuan {
  background: #fff;
  padding: 3px;
}
div.pintuan .bk {
  border: 1px solid #7d7d7d;
}
div.pintuan .bkj {
  background: #eee;
}
div.pintuan .w1 {
  width: 35%;
  text-align: left;
}
div.pintuan .w2 {
  width: 29%;
  text-align: center;
}
div.pintuan .w3 {
  width: 18%;
  text-align: center;
}
div.pintuan .pin-title {
  padding: 3px 0;
}
div.pintuan .pin-title .w1 {
  padding-left: 10px;
}
div.pintuan .pin-sec {
  margin-top: 5px;
  border-bottom: none;
}
div.pintuan .pin-sec .pin-t {
  border-bottom: 1px solid #7d7d7d;
  padding: 2px 5px;
}
div.pintuan .pin-sec .pin-t label input {
  position: relative;
  top: 1px;
  margin-right: 3px;
}
div.pintuan .pin-sec .pin-t div a {
  font-size: 1.8rem;
  padding: 2px;
  position: relative;
  top: 2px;
}
div.pintuan .pin-sec .pin-s {
  border-bottom: 1px solid #7d7d7d;
}
div.pintuan .pin-sec .pin-s > div {
  height: 167px;
  padding: 8px 3px !important;
}
div.pintuan .pin-sec .pin-s .w1 {
  padding: 0 3px;
  border-right: 1px solid #e5e5e5;
}
div.pintuan .pin-sec .pin-s .w1 a {
  display: block;
}
div.pintuan .pin-sec .pin-s .w1 a img {
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
div.pintuan .pin-sec .pin-s .w1 a div p.p2 {
  color: #aaa;
}
div.pintuan .pin-sec .pin-s .w1 a div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.pintuan .pin-sec .pin-s .w2 {
  font-size: 0.8rem;
  border-right: 1px solid #e5e5e5;
  padding-top: 10% !important;
}
div.pintuan .pin-sec .pin-s .w2 span,
div.pintuan .pin-sec .pin-s .w2 p {
  display: block;
}
div.pintuan .pin-sec .pin-s .w2 .p1 {
  color: #f00000;
}
div.pintuan .pin-sec .pin-s .w2 .s2 {
  color: #aaa;
}
div.pintuan .pin-sec .pin-s .w3 {
  padding-top: 11% !important;
}
div.pintuan .pin-sec .pin-s .w3 .s1 {
  font-size: 2rem;
  color: #f00000;
  font-weight: bold;
  line-height: 100%;
}
div.pintuan .pin-sec .pin-s .w3 .s2 {
  font-size: 1.4rem;
}
div.pintuan .pin-sec .pin-s .w3 p {
  color: #aaa;
}
div.pintuan .pin-sec .pin-s .w3 a {
  display: block;
  width: 44px;
  margin: auto;
  border: 1px solid #7d7d7d;
  margin-bottom: 5px;
  border-radius: 3px;
}
div.pintuan .pin-sec .pin-s .w3 a.on {
  background: #f00000;
  color: #fff;
  border-color: #f00000;
}
div.pintuan .pin-sec .pin-s .ww {
  border-right: 1px solid #e5e5e5;
  padding-top: 13% !important;
}
