*, p, ul {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

@bj: #f00000;

@hui: #7d7d7d;

@bai: #fff;

html {
   font-size: 62.5%;
   height: 100%;
}

body {
   min-height: 100%;
   font: 1.2rem/1.6 "微软雅黑";
   color: #000;
   position: relative;
   background: #e5e5e5;
}

:focus {
   outline: none;
}

ul, ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: #333;
}

a:hover, a:focus {
   text-decoration: none;
   color: @bj;
}

table {
   border-spacing: 0;
}

label {
   font-weight: normal;
   margin: 0;
}

header, nav, section, footer {
   display: block;
   width: 100%;
}

.fl {
   float: left;
}

.fr {
   float: right;
}

.row {
   margin-left: 0;
   margin-right: 0;
}

input[type='submit'] {
   -webkit-appearance: none;
}

/****************************************************************************************************/
body.index-bj {
   background: url("../images/login-bj.jpg") no-repeat center top;
   background-size: cover;
   text-align: center;
}

// 首页
div.index {
   padding-top: 20%;
   a.logo {
      display: block;
      width: 22%;
      margin: auto;
      img {
         display: block;
         width: 100%;
      }
   }
   div.d1 {
      margin-top: 20%;
      color: @bai;
      letter-spacing: 2px;
      p.p1 {
         font-size: 1.6rem;
         margin-bottom: 10px;
      }
   }
   div.d2 {
      padding: 0 15%;
      margin-top: 25%;
      a {
         width: 38%;
         height: 35px;
         background: rgba(255, 255, 255, 0.5);
         text-align: center;
         line-height: 35px;
         border-radius: 15px;
         font-size: 1.6rem;
         font-weight: bold;
         letter-spacing: 1px;
         &.on {
            background: rgba(255, 255, 255, 1);
         }
      }
   }
}

//登录、注册
div.login-bj {
   background: rgba(249, 249, 249, 0.5);
   border-radius: 15px;
   padding: 5px 0;
}

div.login {
   position: absolute;
   width: 82%;
   top: 50%;
   left: 50%;
   margin-left: -41%;
   margin-top: -112px;
   color: @bai;
   div.d-a {
      margin-bottom: 25px;
      div.d1 {
         padding: 10px;
         padding-left: 0;
         border-bottom: 1px solid rgba(249, 249, 249, 0.5);
         &:last-child {
            border-bottom: none;
         }
         span {
            width: 19%;
            height: 40px;
            border-right: 1px solid rgba(249, 249, 249, 0.5);
            text-align: center;
            line-height: 40px;
            font-size: 2rem;
            &.icon-pass {
               font-size: 2.4rem;
            }
         }
         input {
            background: transparent;
            border: none;
            height: 40px;
            line-height: 40px;
            width: 77%;
            padding-left: 10px;
            font-size: 1.3rem;
         }
      }
   }
   .submit {
      display: block;
      width: 100%;
      border: none;
      background: rgba(249, 249, 249, 0.5);
      border-radius: 5px;
      font-size: 1.6rem;
      letter-spacing: 3px;
      padding: 6px 0;
   }
   div.d-b {
      margin-top: 10px;
      a {
         color: @bai;
         font-size: 1.2rem;
         opacity: 0.6;
      }
   }
   div.d-c {
      margin-top: 20px;
      border-top: 1px solid @bai;
      background: url("../images/register-01.png") no-repeat center;
      background-size: cover;
      text-align: center;
      padding: 6px;
      p {
         span {
            color: #f29f3f;
         }
      }
   }
   &.register {
      margin-top: -135px;
   }
}

// 注册
div.register-a {
   position: absolute;
   width: 80%;
   top: 50%;
   left: 50%;
   margin-left: -40%;
   margin-top: -112px;
   color: @bai;
   div.login-bj {
      padding: 10px 0;
      div.d-a {
         text-align: center;
         font-size: 1.5rem;
         margin-bottom: 30px;
         @media screen and (max-width: 356px) {
            font-size: 1.3rem;
         }
         p {
            margin-bottom: 5px;
         }
      }
      div.d-b {
         width: 98%;
         margin: auto;
         padding: 5px 12px;
         border-bottom: 1px solid rgba(249, 249, 249, 0.5);
         input {
            width: 50%;
            margin-left: 10px;
            background: transparent;
            text-align: center;
            border: none;
            @media screen and (max-width: 356px) {
               width: 42%;
            }
         }
         a {
            width: 80px;
            border-left: 1px solid rgba(249, 249, 249, 0.5);
            text-align: right;
            color: #666;
         }
      }
      .submit {
         border: none;
         display: block;
         width: 85%;
         border-radius: 5px;
         margin: 20px auto 15px;
         font-size: 1.6rem;
         letter-spacing: 2px;
         padding: 6px 0;
         background: #f29f3f;
         color: @bai;
      }
   }

   div.reg-a {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 2px;
      border-bottom: 1px solid rgba(249, 249, 249, 0.5);
      padding: 15px 0;
      img {
         width: 30px;
      }
   }
   .reg-b {
      margin-top: 10px;
      margin-bottom: 35px;
   }
}

// 密码登录
.passBtn {
   padding: 10px;
   margin-top: 10px;
   input {
      display: block;
      width: 100%;
      border: none;
      background: @hui;
      color: @bai;
      border-radius: 5px;
      padding: 5px 0;
      font-size: 1.5rem;
   }
   .btn-on {
      background: @bj;
   }
}

div.password {
   padding-top: 12px;
   .pass {
      background: @bai;
      .pass-a {
         padding: 6px 10px;
         border-bottom: 1px solid #e5e5e5;
         line-height: 30px;
         font-size: 1.4rem;
         &:last-child {
            border-bottom: none;
         }
         .in1 {
            width: 60%;
            background: transparent;
            border: none;
            text-align: center;
            height: 30px;
            @media screen and (max-width: 350px) {
               width: 55%;
            }
         }
         .yzm {
            border: none;
            border-radius: 3px;
            background: #00a0e9;
            color: @bai;
            padding: 0 12px;
            font-size: 1.2rem;
         }
      }
   }
   .pass-shuru {
      width: 100%;
      border: none;
   }
   .p-text {
      padding: 5px 10px;
      color: @hui;
      font-size: 1rem;
   }
}

// 用户
div.user {
   .pass-a {
      position: relative;
      .close-span {
         position: absolute;
         right: 5px;
         top: 2px;
         padding: 10px;
         font-size: 1.8rem;
         display: none;
      }
   }
}

// 地址
div.address {
   position: relative;
   padding-bottom: 60px;
   min-height: 100vh;
   .address-list {
      background: @bai;
      padding: 10px;
      padding-right: 70px;
      position: relative;
      margin-bottom: 8px;
      p {
         height: 38px;
      }
      span {
         color: @hui;
      }
      .bianji {
         position: absolute;
         top: 20px;
         right: 10px;
         font-size: 2rem;
         padding: 5px;
         color: @hui;
      }
   }

   .add-list {
      position: absolute;
      width: 90%;
      left: 5%;
      bottom: 30px;
      height: 30px;
      text-align: center;
      color: @bai;
      background: @bj;
      line-height: 30px;
      border-radius: 5px;
      font-size: 1.4rem;
      span {
         font-size: 1.6rem;
         position: relative;
         top: 2px;
         left: -5px;
      }
   }
}

// 增加地址
div.address-a {
   padding-top: 12px;
   div.address-s {
      background: @bai;
      div.d1 {
         padding: 10px;
         padding-right: 0;
         border-bottom: 1px solid #e5e5e5;
         &:last-child {
            border-bottom: none;
         }
         div.nr {
            width: 85%;
            input {
               border: none;
               width: 100%;
               padding-left: 20px;
            }
            &.d2 {
               div {
                  border-top: 1px solid #e5e5e5;
                  margin-top: 8px;
                  padding-top: 10px;
                  padding-left: 20px;
                  a {
                     display: inline-block;
                     background: #dbdbdb;
                     border: 1px solid #626262;
                     padding: 0 12px;
                     margin-right: 12px;
                     border-radius: 3px;
                     color: #858585;
                     &.on {
                        background: #d2e7f1;
                        border-color: #00a0e9;
                        color: #00a0e9;
                     }
                  }
               }
            }
         }
         input.nr {
            width: 85%;
            border: none;
            padding-left: 20px;
         }
      }
   }
   .submit {
      display: block;
      width: 95%;
      border: none;
      font-size: 1.4rem;
      color: @bai;
      background: @bj;
      border-radius: 5px;
      margin: auto;
      margin-top: 30px;
      padding: 5px 0;
   }
}

// 评价
div.appraise {
   .appraise-s {
      background: @bai;
      padding: 12px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      textarea {
         display: block;
         width: 100%;
         border: none;
         height: 100px;
         resize: none;
         margin-bottom: 20px;
      }
      ul {
         li {
            width: 50px;
            margin-bottom: 5px;
            margin-right: 5px;
            img {
               width: 50px;
               height: 50px;
            }
         }
      }
   }
   .submit {
      display: block;
      width: 90%;
      margin: 10px auto;
      background: @hui;
      color: @bai;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border-radius: 5px;
      border: none;
      font-size: 1.4rem;
      &.on {
         background: @bj;
      }
   }
}

// 账户
div.account {
   font-size: 1.5rem;
   .bai {
      background: @bai;
   }
   .icon-jiantou {
      font-size: 1.8rem;
      margin-left: 15px;
      &:before {
         color: #cfcfcf;
      }
   }
   .account-top {
      padding: 0 12px;
      .d1 {
         border-bottom: 1px solid #f7f7f7;
         padding: 10px 0 10px 12px;
         &:last-child {
            border-bottom: none;
            padding: 0 0 0 10px;
         }
         span {
            line-height: 40px;
            &.nrs {
               color: #cfcfcf;
               &.on {
                  color: #00baff;
               }
            }
         }
         img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
         }
      }
   }
   p.title {
      padding: 10px 16px;
      color: #7c7c7c;
   }
   ul.account-s {
      padding: 0 12px;
      li {
         border-bottom: 1px solid #f7f7f7;
         padding-left: 3px;
         &:last-child {
            border-bottom: none;
         }
         a {
            display: block;
            height: 55px;
            span {
               line-height: 55px;
               &.nrs {
                  color: #cfcfcf;
                  &.on {
                     color: #00baff;
                  }
               }
               &.nrs-a {
                  margin-right: 33px;
               }
               &.iconT {
                  margin-right: 6px;
                  width: 23px;
                  text-align: center;
               }
            }
         }
      }
   }
}

// 支付
div.pay {
   padding-bottom: 52px;
   > img {
      display: block;
      max-width: 100%;
   }
   div.pay-top {
      background: #fffaf3;
      padding: 12px 15px;
      height: 100px;
      a {
         display: block;
         height: 100%;
         > span {
            font-size: 1.6rem;
            margin-top: 28px;
         }
         div.d1 {
            margin-top: 22px;
            font-size: 1.6rem;
            span {
               font-size: 1.8rem;
               position: relative;
               top: 2px;
               margin-right: 10px;
               &:before {
                  color: #333;
               }
            }
         }
         div.d2 {
            width: 88%;
            font-size: 1.4rem;
            padding-top: 7px;
            span {
               margin-right: 5px;
            }
            div.d2-a {
               margin-bottom: 13px;
               div {
                  padding: 0;
               }
            }
            div.d2-b {
               white-space: nowrap;
               text-overflow: ellipsis;
               overflow: hidden;
            }
         }
      }
   }
   div.pay-fot {
      background: @bai;
      padding: 12px;
      padding-top: 30px;
      div.d-a {
         p.title {
            font-size: 1.4rem;
            border-bottom: 1px solid #d7d7d7;
            padding: 2px 6px;
            span {
               font-size: 1.6rem;
               margin-right: 5px;
               position: relative;
               top: 2px;
            }
         }
         div.d-s {
            padding: 12px 0;
            border-bottom: 1px solid #d7d7d7;
            a {
               display: block;
               > img {
                  width: 70px;
                  height: 70px;
               }
               div.d-s-a {
                  width: 56%;
                  margin-left: 10px;
                  p.tit {
                     white-space: nowrap;
                     text-overflow: ellipsis;
                     overflow: hidden;
                     margin-bottom: 5px;
                  }
                  p.p-a {
                     color: #959494;
                     line-height: 140%;
                     padding-left: 6px;
                  }
               }
               div.d-s-b {
                  p {
                     margin-bottom: 20px;
                  }
                  span {
                     padding-left: 5px;
                  }
               }
            }
         }
      }
      div.d-b {
         margin: 30px 0 15px;
         font-size: 1.4rem;
         p {
            span {
               color: @bj;
            }
         }
      }
   }
}

div.payFooter {
   padding: 8px 12px 6px 12px;
   position: fixed;
   width: 100%;
   left: 0;
   bottom: 0;
   background: @bai;
   text-align: right;
   a {
      padding: 6px 15px;
      background: @hui;
      color: @bai;
      border-radius: 5px;
      font-size: 1.4rem;
      margin-left: 15px;
      margin-top: 1px;
      &.on {
         background: @bj;
      }
   }
   > div {
      p {
         font-size: 1.6rem;
         line-height: 100%;
         color: @bj;
      }
      label {
         font-size: 1rem;
         color: #ccc;
         input {
            position: relative;
            top: 2px;
         }
      }
   }
}

// 会员中心
div.userInfo {
   header {
      background: url("../images/userInfo-bj.jpg") no-repeat center top @bai;
      background-size: 100%;
      height: 210px;
      padding-top: 4%;
      position: relative;
      .shez {
         position: absolute;
         top: 3px;
         right: 5px;
         font-size: 2rem;
         padding: 5px;
      }
      .head-top {
         padding: 5% 4%;
         a {
            display: block;
            color: @bai;
            > img {
               width: 64px;
               height: 64px;
               border-radius: 50%;
               border: 2px solid @bai;
            }
            > div {
               margin-left: 10px;
               width: 63%;
               @media screen and(max-width: 350px) {
                  width: 67%;
               }
               div {
                  span.title {
                     font-size: 1.7rem;
                     max-width: 60px;
                     white-space: nowrap;
                     text-overflow: ellipsis;
                     overflow: hidden;
                     display: inline-block;
                     vertical-align: bottom;
                     line-height: 150%;
                  }
                  .jp {
                     background: @bai;
                     border-radius: 15px;
                     padding: 1px;
                     color: #333;
                     line-height: 120%;
                     padding-right: 5px;
                     margin-top: 6px;
                     span {
                        margin-right: 3px;
                     }
                  }
               }
               > p {
                  margin-top: 10px;
               }
            }
            span.ico {
               font-size: 2.2rem;
               margin-top: 3.5%;
            }
         }
      }
      div.head-fot {
         text-align: center;
         padding: 30px 10px 0 10px;
         position: relative;
         div {
            a {
               display: block;
               font-weight: bold;
               p {
                  font-size: 1.4rem;
               }
               span {
                  color: @bj;
               }
            }
         }
         img {
            position: absolute;
            width: 1px;
            height: 30px;
            top: 32px;
            &.i1 {
               left: 34%;
            }
            &.i2 {
               right: 34%;
            }
         }
      }
   }
}