@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?il57jx');
  src:  url('fonts/icomoon.eot?il57jx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?il57jx') format('truetype'),
    url('fonts/icomoon.woff?il57jx') format('woff'),
    url('fonts/icomoon.svg?il57jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e939";
  color: #8a8a8a;
}
.icon-bind-wei:before {
  content: "\e900";
}
.icon-bianji:before {
  content: "\e901";
}
.icon-daifahuo:before {
  content: "\e902";
}
.icon-daifukuan:before {
  content: "\e903";
}
.icon-daipingjia:before {
  content: "\e904";
}
.icon-daishouhuo:before {
  content: "\e905";
}
.icon-true:before {
  content: "\e906";
  color: #f29f3f;
}
.icon-fenx:before {
  content: "\e907";
}
.icon-gwc:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-close-a:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
  color: #889fff;
}
.icon-jifen:before {
  content: "\e90c";
  color: #f19f3f;
}
.icon-add:before {
  content: "\e90d";
  color: #fff;
}
.icon-jinp .path1:before {
  content: "\e90e";
  color: rgb(245, 203, 43);
}
.icon-jinp .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(192, 143, 32);
}
.icon-kaihu:before {
  content: "\e910";
  color: #00c7f2;
}
.icon-pass:before {
  content: "\e911";
}
.icon-del:before {
  content: "\e912";
}
.icon-sjrz:before {
  content: "\e913";
  color: #f6942a;
}
.icon-shez:before {
  content: "\e914";
  color: #fff;
}
.icon-sfz:before {
  content: "\e915";
  color: #d81e06;
}
.icon-shim .path1:before {
  content: "\e916";
  color: rgb(34, 182, 230);
}
.icon-shim .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(34, 182, 230);
}
.icon-shim .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(34, 182, 230);
}
.icon-shim .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(34, 182, 230);
}
.icon-shim .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(34, 182, 230);
}
.icon-shim .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(26, 250, 41);
}
.icon-shouc:before {
  content: "\e91c";
  color: #515151;
}
.icon-shouca:before {
  content: "\e91d";
  color: #707070;
}
.icon-shouh:before {
  content: "\e91e";
  color: #2cceaa;
}
.icon-tel:before {
  content: "\e91f";
  color: #1296db;
}
.icon-tel-a:before {
  content: "\e920";
  color: #fff;
}
.icon-tuik:before {
  content: "\e921";
}
.icon-weix:before {
  content: "\e922";
  color: #4ea947;
}
.icon-dingd:before {
  content: "\e923";
  color: #4dd781;
}
.icon-qianb:before {
  content: "\e924";
  color: #f39800;
}
.icon-我的收藏 .path1:before {
  content: "\e925";
  color: rgb(255, 255, 255);
}
.icon-我的收藏 .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-我的收藏 .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(254, 98, 99);
}
.icon-我的收藏 .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-tuang:before {
  content: "\e929";
  color: #cf0772;
}
.icon-name:before {
  content: "\e92a";
  color: #00c9c8;
}
.icon-yzm:before {
  content: "\e92b";
  color: #fff;
}
.icon-ruz .path1:before {
  content: "\e92c";
  color: rgb(0, 148, 232);
}
.icon-ruz .path2:before {
  content: "\e92d";
  margin-left: -1.1328125em;
  color: rgb(0, 148, 232);
}
.icon-ruz .path3:before {
  content: "\e92e";
  margin-left: -1.1328125em;
  color: rgb(0, 148, 232);
}
.icon-ruz .path4:before {
  content: "\e92f";
  margin-left: -1.1328125em;
  color: rgb(255, 255, 255);
}
.icon-ruz .path5:before {
  content: "\e930";
  margin-left: -1.1328125em;
  color: rgb(0, 147, 230);
}
.icon-ruz .path6:before {
  content: "\e931";
  margin-left: -1.1328125em;
  color: rgb(0, 148, 232);
}
.icon-ruz .path7:before {
  content: "\e932";
  margin-left: -1.1328125em;
  color: rgb(255, 255, 255);
}
.icon-yhk:before {
  content: "\e933";
  color: #f77f03;
}
.icon-yp .path1:before {
  content: "\e934";
  color: rgb(221, 221, 222);
}
.icon-yp .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(154, 154, 154);
}
.icon-kef .path1:before {
  content: "\e936";
  color: rgb(60, 186, 255);
}
.icon-kef .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-zhangh:before {
  content: "\e938";
}
